<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://github.com/chenhongxin2015/new_project/raw/master/NewProject.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://github.com/chenhongxin2015/new_project/raw/master/57.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://github.com/chenhongxin2015/new_project/raw/master/512.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.coins.coinExchange</string>
				<key>bundle-version</key>
				<string>0.2.1</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>NewProject</string>
			</dict>
			<key>thinned-assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://www.ipa../-660C2D0F-6B04-4F59-A3E5-6BCA073D7B8D</string>
					<key>variantDescriptors</key>
					<array/>
					<key>variantIds</key>
					<array>
						<string>iPhone10,2</string>
						<string>iPhone7,1</string>
						<string>iPhone10,6</string>
						<string>iPhone10,5</string>
						<string>iPhone8,2</string>
						<string>iPhone9,4</string>
						<string>iPhone10,3</string>
						<string>iPhone9,2</string>
					</array>
				</dict>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://www.ipa../-1371D092-852B-435D-AB79-CAF7FE7999BC</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPad7,3</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,9</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,1</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,12</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,3</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,4</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,7</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,4</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,2</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,6</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,6</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,4</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,1</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,5</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,3</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,4</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,1</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,2</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,7</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,2</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,3</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,11</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,8</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,8</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,5</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array/>
				</dict>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://www.ipa../-4DEB2A1D-B2B1-4521-9ED1-0EC5A352F501</string>
					<key>variantDescriptors</key>
					<array/>
					<key>variantIds</key>
					<array>
						<string>iPhone6,1</string>
						<string>iPhone9,9</string>
						<string>iPhone10,1</string>
						<string>iPhone7,2</string>
						<string>iPhone9,3</string>
						<string>iPhone6,2</string>
						<string>iPhone9,7</string>
						<string>iPhone9,1</string>
						<string>iPhone8,4</string>
						<string>iPhone8,1</string>
						<string>iPhone9,8</string>
						<string>iPhone10,4</string>
						<string>iPod7,1</string>
					</array>
				</dict>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://www.ipa../-4957F8BD-BB14-4E6A-9AE4-69D09B7C0539</string>
					<key>variantDescriptors</key>
					<array/>
					<key>variantIds</key>
					<array>
						<string>iPad3,6</string>
						<string>iPad3,4</string>
						<string>iPad3,2</string>
						<string>iPad3,5</string>
						<string>iPad3,3</string>
						<string>iPad3,1</string>
					</array>
				</dict>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://www.ipa../-E4B0E338-EBBA-4EE0-8E3F-E715ACF407CD</string>
					<key>variantDescriptors</key>
					<array/>
					<key>variantIds</key>
					<array>
						<string>iPad7,4</string>
						<string>iPad4,5</string>
						<string>iPad7,5</string>
						<string>iPad4,6</string>
						<string>iPad6,3</string>
						<string>iPad5,1</string>
						<string>iPad6,11</string>
						<string>iPad7,6</string>
						<string>iPad5,2</string>
						<string>iPad6,4</string>
						<string>iPad4,7</string>
						<string>iPad5,3</string>
						<string>iPad4,1</string>
						<string>iPad4,8</string>
						<string>iPad6,12</string>
						<string>iPad7,1</string>
						<string>iPad5,4</string>
						<string>iPad4,9</string>
						<string>iPad4,2</string>
						<string>iPad7,2</string>
						<string>iPad4,3</string>
						<string>iPad6,7</string>
						<string>iPad7,3</string>
						<string>iPad4,4</string>
						<string>iPad6,8</string>
					</array>
				</dict>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://www.ipa../-1A159362-CB2C-4152-A4AE-6E85739C4349</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPhone11,2</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,3</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,4</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,6</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,2</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone8,2</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,2</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone11,6</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,5</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone7,1</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone11,4</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array>
						<string>iPhone11,6</string>
						<string>iPhone11,2</string>
						<string>iPhone11,4</string>
					</array>
				</dict>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://www.ipa../-FD9EEADD-D51F-409E-8350-B4F8C0283513</string>
					<key>variantDescriptors</key>
					<array/>
					<key>variantIds</key>
					<array>
						<string>iPad2,3</string>
						<string>iPad2,2</string>
						<string>iPad2,1</string>
						<string>iPad2,7</string>
						<string>iPad2,6</string>
						<string>iPad2,5</string>
						<string>iPad2,4</string>
					</array>
				</dict>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://www.ipa../-6E23F75A-8EC1-46CB-9ED8-C9E46D53BF9D</string>
					<key>variantDescriptors</key>
					<array/>
					<key>variantIds</key>
					<array>
						<string>iPhone5,2</string>
						<string>iPod5,1</string>
						<string>iPhone5,3</string>
						<string>iPhone4,1</string>
						<string>iPhone5,1</string>
						<string>iPhone5,4</string>
					</array>
				</dict>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://www.ipa../-BAC4A315-9A60-4FF0-B583-DC88084FFBF7</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPhone8,4</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone7,2</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone6,1</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,3</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone6,2</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone8,1</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,1</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,4</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPod7,1</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,1</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array/>
				</dict>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://www.ipa../-5BCFD9D0-8480-4DCC-B686-DEA8D099A324</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPhone11,8</string>
							<key>os-version</key>
							<string>12</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array>
						<string>iPhone11,8</string>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
